<script setup>
import { computed } from "vue";
import GuestLayout from "@/Layouts/GuestLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import { Head, Link, useForm } from "@inertiajs/vue3";

const props = defineProps({
	status: {
		type: String,
	},
});

const form = useForm({});

const submit = () => {
	form.post(route("verification.send"));
};

const verificationLinkSent = computed(
	() => props.status === "verification-link-sent"
);
</script>

<template>
	<GuestLayout>
		<Head title="Email Verification" />

		<div class="mb-4 text-sm text-gray-600">
			Obrigado por se inscrever! Antes de começar, você poderia verificar seu
			endereço de e-mail clicando no link que acabamos de enviar para você? Se
			você não recebeu o e-mail, teremos prazer em enviar outro
		</div>

		<div
			class="mb-4 font-medium text-sm text-green-600"
			v-if="verificationLinkSent"
		>
			Um novo link de verificação foi enviado para o endereço de e-mail que você
			forneceu durante o registro
		</div>

		<form @submit.prevent="submit">
			<div class="mt-4 flex items-center justify-between">
				<PrimaryButton
					:class="{ 'opacity-25': form.processing }"
					:disabled="form.processing"
				>
					Reenviar E-mail de Verificação
				</PrimaryButton>

				<Link
					:href="route('logout')"
					method="post"
					as="button"
					class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
					>SAIR</Link
				>
			</div>
		</form>
	</GuestLayout>
</template>
